.hello {
  background: red;
  font-size: 100px;
}
body {
  display: flex;
  align-content: center;
}
div {
  width: 100px;
  height: 100px;
}
div:nth-child(1) {
  width: 200px;
  background: red;
}
div:nth-child(2) {
  width: 300px;
  background: yellow url('../img/s6-bottom.png') no-repeat center;
}
div:nth-child(3) {
  width: 400px;
  background: blue;
}
div:nth-child(4) {
  width: 500px;
  background: green;
}
div:nth-child(5) {
  width: 600px;
  background: black;
}
