@font-face {
	font-family: 'MyFont';
	src: url('./my-font.otf') format('otf'), url('./my-font.TTF') format('TTF');
	font-weight: 600;
	font-style: normal;
}

.hello {
	color: red;
  background: url('./icon.png');
  font-family: 'MyFont'
}
